@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<div class="row">
    <form asp-action="search" asp-controller="course" method="get" class="col s12">
        <br />
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input name="s" type="text" id="icon_prefix2" class="validate">
                <label class="contact-input" for="icon_prefix2">جست و جو</label>
            </div>

        </div>

        <button type="submit" class="waves-effect waves-light btn mb-1 mr-1">جستوجو</button>
    </form>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="col s12 m12 l12">
            <div id="striped-table" class="card card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">دوره ها</h4>

                    <div class="row">
                        <div class="col s12">
                        </div>
                        <div class="col s12">
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th>عنوان</th>
                                        <th>ساعت</th>
                                        <th>قیمت</th>
                                        <th>ویرایش</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (Model.Course item in ViewBag.courses)
                                    {
                                    <tr>
                                        <td>@item.title</td>
                                        <td>@item.totalTime</td>
                                        <td>@item.price</td>
                                        <td>
                                            <a asp-action="update" asp-controller="course" asp-route-id="@item.id"
                                               class="waves-effect waves-light btn mb-1 mr-1">ویرایش</a>
                                        </td>

                                    </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
